* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  * #wrapper {
    padding: 5px;
    background-color: #eee;
    width: 100%;
  }
  
  * #wrapper h3 {
    color: #a5a5a5;
    margin-bottom: 11px;
    border-bottom: 3px solid #fa6c6c;
    width: 90px;
  }
  
  * #wrapper #field {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 12px;
    border: 1px solid #a5a5a5;
    font-family: "Kodchasan", sans-serif;
  }
  
  * #wrapper #field::-webkit-input-placeholder {
    opacity: 0.4;
    font-family: "Kodchasan", sans-serif;
  }
  
  * #wrapper #field:-ms-input-placeholder {
    opacity: 0.4;
    font-family: "Kodchasan", sans-serif;
  }
  
  * #wrapper #field::-ms-input-placeholder {
    opacity: 0.4;
    font-family: "Kodchasan", sans-serif;
  }
  
  * #wrapper #field::placeholder {
    opacity: 0.4;
    font-family: "Kodchasan", sans-serif;
  }
  
  * #wrapper #contact-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    overflow: hidden;
  }
  
  * #wrapper #contact-list li a {
    text-decoration: none;
    color: #a5a5a5;
    border: -1px solid #5a5a5a;
    display: block;
    margin-top: 3px;
    padding: 10px;
    background-color: #f6f6f6;
    -webkit-transition: all, .3s;
    transition: all, .3s;
  }
  
  * #wrapper #contact-list li a:hover {
    background-color: #fa6c6c;
    color: #fff;
    -webkit-transform: translateX(12px);
            transform: translateX(12px);
    text-decoration: underline;
  }
